.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-button {
  padding: 5px;
  height: 30px;
  border-radius: 10%;
  border: none;
  background: white;
  box-shadow: 2px 2px 5px 2px rgb(155, 155, 155, 0.5);
  transition: all ease-in-out 0.2s;
}

.search-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px 2px rgb(234, 219, 151);
}

.search-button:active {
  transform: scale(0.95);
}

.input {
  max-width: 350px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  background: rgba(224, 224, 224, 0.5);
  border-top: solid 2px rgb(206, 204, 204);
  border-left: solid 2px rgb(206, 204, 204);
  border-right: solid 2px rgba(240, 239, 239, 0.5);
  border-bottom: solid 2px rgba(240, 239, 239, 0.5);
  outline: none;
}
