.error-container {
  height: 35px;
  padding: 5px 0;
  /* border: solid 1px red; */
}

.error-container_password {
  height: 30px;
}

.error-message {
  font-size: 12px;
  color: red;
  vertical-align: middle;
  line-height: 100%;
}
