.item {
  color: rgb(1, 107, 107);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  text-align: left;
  padding: 5px;
  width: 250px;
  height: 150px;
  transition: all ease-in-out 0.2s;
  background: white;
  box-shadow: 5px 5px 10px 3px rgb(155, 155, 155, 0.5);
}

.item:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 5px 5px 10px 3px rgb(234, 219, 151, 0.5);
}

.item:active {
  filter: blur(1px);
  transform: scale(1);
}

.image-container {
  display: flex;
  width: 55%;
}

img {
  min-width: 100%;
  max-height: 120px;
  object-fit: contain;
}
