.details {
  display: flex;
  flex-direction: column;
  width: 0;
  max-height: 800px;
  padding: 10px;
  box-shadow: 5px 5px 10px 3px rgb(155, 155, 155, 0.5);
  border-radius: 10px;
  background: white;
  transition: all ease-out 0.5s;
  position: relative;
  overflow: hidden;
}

.details_visible {
  width: 35%;
  overflow: visible;
}

.details__button {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 40px;
  left: 50px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: none;
  align-self: flex-end;
  line-height: 150%;
  box-shadow: 2px 2px 5px 2px rgb(155, 155, 155, 0.5);
  transition: all ease-in-out 0.2s;
}

.details__button:hover {
  cursor: pointer;
  transform: scale(1.05);
  background: rgba(224, 224, 224, 0.5);
}

.details__button:active {
  transform: scale(1);
}
