.pagination {
  display: flex;
  align-items: center;
  gap: 5px;

  line-height: 100%;
  color: rgb(1, 107, 107);
  font-size: 20px;
}

.pagination__button {
  width: 20px;
  height: 20px;
  border: solid 2px rgb(175, 228, 223);
  border-radius: 20%;
  background: none;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.pagination__button:hover {
  background: rgb(175, 228, 223);
}

.pagination__button:active {
  transform: scale(0.9);
}
