.pagination {
  display: flex;
  align-items: center;
  gap: 5px;

  color: rgb(1, 107, 107);
  font-size: 20px;
}

.pagination__button {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  border: none;
  background: white;
  box-shadow: 2px 2px 5px 2px rgb(155, 155, 155, 0.5);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.pagination__button:hover {
  background: rgb(175, 228, 223);
}

.pagination__button:active {
  transform: scale(0.9);
}

.current-page {
  width: 32px;
  height: 32px;
  border-radius: 20%;
  background: rgb(222, 222, 222);
  border-top: solid 2px rgb(188, 188, 188);
  border-left: solid 2px rgb(188, 188, 188);
  border-right: solid 2px rgb(216, 216, 216);
  border-bottom: solid 2px rgb(216, 216, 216);
  vertical-align: middle;
  line-height: 150%;
}
