.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 3px rgb(155, 155, 155, 0.5);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: start;
  font-size: 18px;
}

.form__heading {
  text-align: center;
  padding-bottom: 10px;
}

.text-input {
  padding: 5px;
  border-radius: 5px;
  border: solid 2px rgb(118, 118, 118);
  outline: none;

  font-size: 20px;
}

.invalid {
  border-color: red;
}

.countries-container {
  width: 100%;
  max-height: 97px;
  overflow-y: scroll;
  scrollbar-base-color: red;
  position: absolute;
  top: 100%;
  background: white;
  box-shadow: 5px 5px 10px 3px rgb(155, 155, 155, 0.5);
  border-radius: 5px;
  z-index: 10;
}

.country {
  position: relative;
}

.country-row {
  padding: 5px;
  cursor: pointer;
  border-bottom: solid 1px rgba(224, 224, 224, 0.5);
}

.country-row:hover {
  background: rgb(228, 226, 226);
}

.input-checkbox,
.input-radio {
  margin-right: 5px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.label-radio {
  padding: 5px 10px;
}

/* input[type="file"]{
  display: none;
} */

.label-text-input {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

span {
  padding-bottom: 2px;
}

span::after {
  content: '*';
  position: relative;
  top: 0;
  color: red;
}

button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background: white;
  box-shadow: 2px 2px 5px 2px rgb(155, 155, 155, 0.5);
  transition: all ease-in-out 0.2s;
  font-size: 20px;
}

button:not(:disabled):hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px 2px rgb(234, 219, 151);
}

button:not(:disabled):active {
  transform: scale(0.98);
}

.password-strength-container {
  height: 20px;
  font-size: 14px;
  font-weight: 550;
}

.strong-password {
  color: green;
}

.moderate-password {
  color: orange;
}

.weak-password {
  color: red;
}
